In [1]:
# Import the library and load the CSV file
import pandas as pd

df = pd.read_csv("sales_data.csv")

In [4]:
print(df)

            Date        Product Name     Category  Units Sold  Price  Revenue  \
0     2020-01-06        Whey Protein      Protein         143  31.98  4573.14
1     2020-01-06           Vitamin C      Vitamin         139  42.51  5908.89
2     2020-01-06            Fish Oil        Omega         161  12.91  2078.51
3     2020-01-06        Multivitamin      Vitamin         140  16.07  2249.80
4     2020-01-06         Pre-Workout  Performance         157  35.47  5568.79
...          ...                 ...          ...         ...    ...      ...
4379  2025-03-31           Melatonin    Sleep Aid         160  47.79  7646.40
4380  2025-03-31              Biotin      Vitamin         154  38.12  5870.48
4381  2025-03-31   Green Tea Extract   Fat Burner         139  20.40  2835.60
4382  2025-03-31     Iron Supplement      Mineral         154  18.31  2819.74
4383  2025-03-31  Electrolyte Powder    Hydration         178  39.12  6963.36

      Discount  Units Returned Location Platform
0         0.03               2   Canada  Walmart
1         0.04               0       UK   Amazon
2         0.25               0   Canada   Amazon
3         0.08               0   Canada  Walmart
4         0.25               3   Canada    iHerb
...        ...             ...      ...      ...
4379      0.21               1      USA    iHerb
4380      0.22               1       UK  Walmart
4381      0.12               3      USA    iHerb
4382      0.23               2   Canada   Amazon
4383      0.23               0       UK    iHerb

[4384 rows x 10 columns]

In [23]:
# Make sure columns are in the correct format(the data types)

df['Date'] = pd.to_datetime(df['Date'])

In [6]:
print(df)

           Date        Product Name     Category  Units Sold  Price  Revenue  \
0    2020-01-06        Whey Protein      Protein         143  31.98  4573.14
1    2020-01-06           Vitamin C      Vitamin         139  42.51  5908.89
2    2020-01-06            Fish Oil        Omega         161  12.91  2078.51
3    2020-01-06        Multivitamin      Vitamin         140  16.07  2249.80
4    2020-01-06         Pre-Workout  Performance         157  35.47  5568.79
...         ...                 ...          ...         ...    ...      ...
4379 2025-03-31           Melatonin    Sleep Aid         160  47.79  7646.40
4380 2025-03-31              Biotin      Vitamin         154  38.12  5870.48
4381 2025-03-31   Green Tea Extract   Fat Burner         139  20.40  2835.60
4382 2025-03-31     Iron Supplement      Mineral         154  18.31  2819.74
4383 2025-03-31  Electrolyte Powder    Hydration         178  39.12  6963.36

      Discount  Units Returned Location Platform
0         0.03               2   Canada  Walmart
1         0.04               0       UK   Amazon
2         0.25               0   Canada   Amazon
3         0.08               0   Canada  Walmart
4         0.25               3   Canada    iHerb
...        ...             ...      ...      ...
4379      0.21               1      USA    iHerb
4380      0.22               1       UK  Walmart
4381      0.12               3      USA    iHerb
4382      0.23               2   Canada   Amazon
4383      0.23               0       UK    iHerb

[4384 rows x 10 columns]

In [25]:
# Check for null values
df.isnull().sum()

Date              0
Product Name      0
Category          0
Units Sold        0
Price             0
Revenue           0
Discount          0
Units Returned    0
Location          0
Platform          0
Month             0
dtype: int64

In [26]:
# Check out the data types
df.dtypes

Date              datetime64[ns]
Product Name              object
Category                  object
Units Sold                 int64
Price                    float64
Revenue                  float64
Discount                 float64
Units Returned             int64
Location                  object
Platform                  object
Month                  period[M]
dtype: object

In [27]:
# Remove Duplicates
df.drop_duplicates(inplace=True)

In [28]:
# Trim Whitespace(Extra spaces in strings )
df['Product Name'] = df['Product Name'].str.strip()
df['Category'] = df['Category'].str.strip()
df['Location'] = df['Location'].str.strip()
df['Platform'] = df['Platform'].str.strip()

In [19]:
# Standardize Text, ensure consistent casing for categories or regions.
df['Product Name'] = df['Product Name'].str.title()
df['Category'] = df['Category'].str.title() # e.g., "electronics" → "Electronics"
df['Location'] = df['Location'].str.title()
df['Platform'] = df['Platform'].str.title()

In [31]:
# Add Useful Columns, even if data is clean, you can enhance it like adding the month
df['Revenue'] = df['Price'] * df['Units Sold']
df['Month'] = df['Date'].dt.to_period('M')

In [32]:
print(df)

           Date        Product Name     Category  Units Sold  Price  Revenue  \
0    2020-01-06        Whey Protein      Protein         143  31.98  4573.14
1    2020-01-06           Vitamin C      Vitamin         139  42.51  5908.89
2    2020-01-06            Fish Oil        Omega         161  12.91  2078.51
3    2020-01-06        Multivitamin      Vitamin         140  16.07  2249.80
4    2020-01-06         Pre-Workout  Performance         157  35.47  5568.79
...         ...                 ...          ...         ...    ...      ...
4379 2025-03-31           Melatonin    Sleep Aid         160  47.79  7646.40
4380 2025-03-31              Biotin      Vitamin         154  38.12  5870.48
4381 2025-03-31   Green Tea Extract   Fat Burner         139  20.40  2835.60
4382 2025-03-31     Iron Supplement      Mineral         154  18.31  2819.74
4383 2025-03-31  Electrolyte Powder    Hydration         178  39.12  6963.36

      Discount  Units Returned Location Platform    Month
0         0.03               2   Canada  Walmart  2020-01
1         0.04               0       Uk   Amazon  2020-01
2         0.25               0   Canada   Amazon  2020-01
3         0.08               0   Canada  Walmart  2020-01
4         0.25               3   Canada    Iherb  2020-01
...        ...             ...      ...      ...      ...
4379      0.21               1      Usa    Iherb  2025-03
4380      0.22               1       Uk  Walmart  2025-03
4381      0.12               3      Usa    Iherb  2025-03
4382      0.23               2   Canada   Amazon  2025-03
4383      0.23               0       Uk    Iherb  2025-03

[4384 rows x 11 columns]